@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    --mainColor: red;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #eee;
}

header {
    background: linear-gradient(to right, orange, #DC143C);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    margin-bottom: 2em;
}

nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-shadow: .5px .5px .5px white;
    text-align: center;
}

nav a:hover {
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

header div,
nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        background-color: orange;
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .responsive_nav {
        transform: none;
    }
    nav .nav-close-btn {
        position: absolute;
        top: .5rem;
        right: 2rem;
    }
    nav a {
        font-size: 1.5rem;
        margin-bottom: 1em;
    }
    .navElements {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50%;
    }
    .cartBtn {
        cursor: pointer;
        display: flex;
        top: 0;
    }
}

h3 {
    color: #e84e33;
    font-family: "Gill Sans", sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

span {
    color: #f37329;
}

.links {
    display: flex;
}

.adresse {
    position: absolute;
    left: 0;
    margin-left: 2em;
    font-size: 1.2em;
}

.cart-img {
    height: 1.5em;
    width: 1.5em;
}

.cartBtn {
    display: flex;
    cursor: pointer;
}

.cartElements {
    display: flex;
    flex-direction: column;
}