.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 5em;
}

.element {
    cursor: pointer;
    border: 1px solid #F0F0F0;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.element:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #F0F0F0;
    padding: .5em;
}

.searchBar {
    width: 40em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2em;
    margin-left: 55%;
}

.elementName {
    font-size: 2.5em;
    margin: 0em 0em .5em;
}

.elementPrice {
    font-weight: bold;
}